In [7]:
# Dependencies
import pandas as pd

In [8]:
# load CSV
new_coders = "Resources/2016-FCC-New-Coders-Survey-Data.csv"

In [9]:
# Read with pandas--low_memory required to suppress errors about mixed data types
new_coders_df = pd.read_csv(new_coders, low_memory ='False')
new_coders_df.head()

/Users/amagagi/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (21,57) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampMonthsAgo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,...,ResourceSoloLearn,ResourceStackOverflow,ResourceTreehouse,ResourceUdacity,ResourceUdemy,ResourceW3Schools,ResourceYouTube,SchoolDegree,SchoolMajor,StudentDebtOwe
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,20000.0
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,"some college credit, no degree",NaN,NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,high school diploma or equivalent (GED),NaN,NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Cinematography And Film,7000.0
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,NaN

In [10]:
# Take only columns 0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111
new_codersel_df = new_coders_df.iloc[:,[0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111]]
new_codersel_df

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,...,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,United States of America,office and administrative support,Employed for wages,male,0.0,30.0,32000.0,NaN,"some college credit, no degree",NaN
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,United States of America,food and beverage,Employed for wages,male,NaN,30.0,15000.0,Front-End Web Developer,"some college credit, no degree",NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,United States of America,finance,Employed for wages,male,NaN,20.0,48000.0,NaN,high school diploma or equivalent (GED),NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,NaN,20.0,43000.0,Front-End Web Developer,bachelor's degree,Cinematography And Film
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,United States of America,education,Employed for wages,female,NaN,25.0,6000.0,Full-Stack Web Developer,"some college credit, no degree",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15615,39.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,Kenya,software development and IT,Self-employed freelancer,male,0.0,40.0,10000.0,NaN,bachelor's degree,Chemistry
15616,27.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,India,software development and IT,Employed for wages,male,0.0,15.0,10000.0,Front-End Web Developer,bachelor's degree,Electrical Engineering
15617,37.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,Nigeria,NaN,Self-employed freelancer,male,NaN,14.0,48000.0,NaN,bachelor's degree,Chemistry
15618,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,Spain,education,Self-employed freelancer,male,NaN,10.0,10000.0,NaN,master's degree (non-professional),Math
15619,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,0.0,2.0,18000.0,NaN,bachelor's degree,Graphic Design

In [11]:
# Change reading 0 and 1 to No and Yes, respectively
codersel_df = new_codersel_df.replace({0:'No', 1:'Yes'})
codersel_df.head(50)

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,...,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
0,28.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,United States of America,office and administrative support,Employed for wages,male,No,30,32000.0,NaN,"some college credit, no degree",NaN
1,22.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,United States of America,food and beverage,Employed for wages,male,NaN,30,15000.0,Front-End Web Developer,"some college credit, no degree",NaN
2,19.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,United States of America,finance,Employed for wages,male,NaN,20,48000.0,NaN,high school diploma or equivalent (GED),NaN
3,26.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,NaN,20,43000.0,Front-End Web Developer,bachelor's degree,Cinematography And Film
4,20.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,United States of America,education,Employed for wages,female,NaN,25,6000.0,Full-Stack Web Developer,"some college credit, no degree",NaN
5,34.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,United States of America,finance,Self-employed freelancer,male,NaN,5,40000.0,NaN,bachelor's degree,English
6,23.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,Singapore,software development,Employed for wages,male,NaN,8,32000.0,NaN,bachelor's degree,Computer Science
7,35.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,United Kingdom,office and administrative support,Employed for wages,male,No,NaN,40000.0,NaN,master's degree (non-professional),Education
8,33.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,United States of America,software development,Employed for wages,male,NaN,5,80000.0,NaN,bachelor's degree,Business Administration
9,33.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,United States of America,NaN,Employed for wages,male,NaN,20,80000.0,NaN,master's degree (non-professional),Business Administration
10,57.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"less than 100,000",...,United States of America,NaN,Self-employed business owner,male,No,8,20000.0,NaN,bachelor's degree,Computer Science
11,23.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,Bangladesh,NaN,Not working and not looking for work,male,NaN,5,NaN,NaN,"some college credit, no degree",NaN
12,47.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,Canada,health care,Employed for wages,male,NaN,5,90000.0,NaN,bachelor's degree,Mechanical Engineering
13,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,United States of America,software development,Employed for wages,male,NaN,5,NaN,NaN,bachelor's degree,Business Administration
14,37.0,No,NaN,NaN,NaN,NaN,NaN,NaN,Yes,"between 100,000 and 1 million",...,Bosnia & Herzegovina,sales,Self-employed business owner,male,Yes,2,NaN,NaN,"some college credit, no degree",NaN
15,31.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,Russia,software development,Employed for wages,female,NaN,10,NaN,NaN,"professional degree (MBA, MD, JD, etc.)",Math
16,27.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,United States of America,software development,Employed for wages,female,NaN,4,80000.0,NaN,bachelor's degree,Economics
17,29.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"less than 100,000",...,United States of America,education,Employed for wages,male,NaN,5,17000.0,NaN,bachelor's degree,Music
18,30.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,Canada,software development,Self-employed freelancer,male,NaN,2,16000.0,NaN,bachelor's degree,Music
19,30.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"less than 100,000",...,Croatia,NaN,Not working but looking for work,male,No,20,NaN,Full-Stack Web Developer,"some college credit, no degree",NaN
20,32.0,No,NaN,NaN,NaN,NaN,NaN,NaN,Yes,more than 1 million,...,United States of America,NaN,Employed for wages,female,Yes,5,200000.0,Full-Stack Web Developer,master's degree (non-professional),Geology
21,25.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,United States of America,NaN,Doing an unpaid internship,female,NaN,NaN,NaN,NaN,bachelor's degree,Computer Science
22,29.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,No,10,100000.0,NaN,bachelor's degree,Computer Science
23,44.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,United States of America,office and administrative support,Employed for wages,female,No,30,41000.0,NaN,bachelor's degree,Political Science
24,21.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,India,NaN,Not working but looking for work,male,NaN,25,NaN,NaN,bachelor's degree,Computer Science
25,21.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,United States of America,NaN,Not working but looking for work,male,NaN,25,NaN,Full-Stack Web Developer,"some college credit, no degree",NaN
26,28.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"less than 100,000",...,South Africa,NaN,Self-employed freelancer,male,No,Yes,12000.0,NaN,high school diploma or equivalent (GED),NaN
27,28.0,No,NaN,NaN,NaN,NaN,NaN,NaN,2,more than 1 million,...,United States of America,software development,Employed for wages,male,Yes,10,60000.0,NaN,"trade, technical, or vocational training",NaN
28,25.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,United States of America,software development,Employed for wages,male,NaN,10,75000.0,Full-Stack Web Developer,bachelor's degree,Political Science
29,35.0,No,NaN,NaN,NaN,NaN,NaN,NaN,Yes,"less than 100,000",...,United Kingdom,software development,Employed for wages,male,Yes,5,35000.0,NaN,master's degree (non-professional),Physics
30,24.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,United States of America,NaN,Doing an unpaid internship,female,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN
31,23.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,Venezuela,NaN,A stay-at-home parent or homemaker,male,NaN,20,NaN,Full-Stack Web Developer,"some college credit, no degree",NaN
32,34.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,United States of America,NaN,Doing an unpaid internship,male,NaN,20,NaN,Full-Stack Web Developer,bachelor's degree,Information Technology
33,18.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"less than 100,000",...,United States of America,NaN,Employed for wages,female,NaN,10,6000.0,Front-End Web Developer,high school diploma or equivalent (GED),NaN
34,33.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"less than 100,000",...,United States of America,health care,Employed for wages,female,NaN,15,40000.0,NaN,bachelor's degree,English
35,28.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,Brazil,office and administrative support,Employed for wages,male,NaN,7,6500.0,NaN,high school diploma or equivalent (GED),NaN
36,33.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,United States of America,NaN,Self-employed freelancer,male,No,20,60000.0,Full-Stack Web Developer,high school diploma or equivalent (GED),NaN
37,26.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"less than 100,000",...,United States of America,finance,Employed for wages,male,NaN,3,29000.0,NaN,"some college credit, no degree",NaN
38,24.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,South Africa,software development,Employed for wages,male,NaN,10,10000.0,NaN,bachelor's degree,Computer Science
39,39.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,United States of America,law enforcement and fire and rescue,Employed for wages,male,NaN,25,53000.0,Full-Stack Web Developer,associate's degree,Information Technology
40,24.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,Brazil,NaN,Not working but looking for work,male,NaN,10,NaN,Full-Stack Web Developer,high school diploma or equivalent (GED),NaN
41,34.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"less than 100,000",...,United States of America,NaN,Not working and not looking for work,male,NaN,20,NaN,NaN,high school diploma or equivalent (GED),NaN
42,19.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,United States of America,NaN,NaN,male,NaN,2,NaN,Data Scientist / Data Engineer,"some college credit, no degree",NaN
43,28.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,United States of America,education,Employed for wages,male,NaN,15,52000.0,Full-Stack Web Developer,bachelor's degree,Communications
44,24.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,Canada,NaN,Not working but looking for work,male,NaN,NaN,NaN,NaN,high school diploma or equivalent (GED),NaN
45,41.0,No,NaN,NaN,NaN,NaN,NaN,NaN,2,"less than 100,000",...,United Kingdom,office and administrative support,Employed for wages,male,Yes,10,17000.0,NaN,master's degree (non-professional),English
46,47.0,No,NaN,NaN,NaN,NaN,NaN,NaN,Yes,more than 1 million,...,Italy,sales,Self-employed freelancer,male,Yes,15,20000.0,NaN,high school diploma or equivalent (GED),NaN
47,22.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,Venezuela,NaN,Not working but looking for work,male,NaN,10,NaN,Mobile Developer,high school diploma or equivalent (GED),NaN
48,20.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"less than 100,000",...,India,NaN,Doing an unpaid internship,female,NaN,10,NaN,Full-Stack Web Developer,high school diploma or equivalent (GED),NaN
49,20.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,United States of America,software development,Employed for wages,male,NaN,20,24000.0,Full-Stack Web Developer,high school diploma or equivalent (GED),NaN

In [12]:
# Extract rows for only those who attended a bootcamp
attended_df = codersel_df.loc[codersel_df['AttendedBootcamp']=='Yes']
attended_df.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,...,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
93,32.0,Yes,Yes,No,No,Codify Academy,NaN,No,NaN,"between 100,000 and 1 million",...,United States of America,"arts, entertainment, sports, or media",Self-employed business owner,male,NaN,20,67000.0,NaN,bachelor's degree,Biology
97,26.0,Yes,Yes,Yes,No,DaVinci Coders,45000.0,No,NaN,more than 1 million,...,United States of America,software development,Employed for wages,male,No,10,40000.0,NaN,master's degree (non-professional),Music
130,41.0,Yes,Yes,Yes,Yes,Coder Foundry,75000.0,Yes,3,"less than 100,000",...,United States of America,software development,Employed for wages,male,Yes,30,75000.0,NaN,"some college credit, no degree",NaN
159,26.0,Yes,Yes,No,No,General Assembly,NaN,No,NaN,"between 100,000 and 1 million",...,United States of America,NaN,Not working and not looking for work,female,NaN,30,NaN,Full-Stack Web Developer,"some college credit, no degree",NaN
188,24.0,Yes,No,NaN,Yes,NaN,NaN,No,NaN,"between 100,000 and 1 million",...,Canada,NaN,Not working but looking for work,female,NaN,60,NaN,NaN,"some college credit, no degree",NaN

In [13]:
# Create DataFrame of the different boot camps that had a significant number of attendees
BootcampsAttendees = pd.DataFrame(new_coders_df["BootcampName"].value_counts())
BootcampsAttendees.reset_index(inplace=True)
BootcampsAttendees.columns = ["BootcampName", "Number of Attendees"]
BootcampsAttendees_df = BootcampsAttendees.loc[(BootcampsAttendees["Number of Attendees"] >= 5)]
BootcampsAttendees_df.head()

            BootcampName  Number of Attendees
0       General Assembly                   90
1        Flatiron School                   54
2           Dev Bootcamp                   48
3          The Iron Yard                   40
4  Prime Digital Academy                   30

In [14]:
# Count how many attendees of each bootcamp would recommend the bootcamp
recommenders_df = attended_df.replace({"No": 0, "Yes": 1})

recommenders_df = pd.DataFrame(new_coders_df.groupby("BootcampName")["BootcampRecommend"].sum())
recommenders_df.reset_index(inplace=True)
recommenders_df.columns = ["BootcampName", "Number of Recommenders"]

recommenders_df.head()

            BootcampName  Number of Recommenders
0             10x.org.il                     3.0
1         4Geeks Academy                     4.0
2               AcadGild                     2.0
3     Academia de CÃ³digo                     4.0
4  Academic Work Academy                     0.0

In [15]:
# Merge the two created data frames on the name of tbe bootcamp
merge_data = pd.merge(BootcampsAttendees, recommenders_df, on="BootcampName")
merge_data.head()

            BootcampName  Number of Attendees  Number of Recommenders
0       General Assembly                   90                    70.0
1        Flatiron School                   54                    50.0
2           Dev Bootcamp                   48                    41.0
3          The Iron Yard                   40                    31.0
4  Prime Digital Academy                   30                    25.0

In [16]:
# Calculate percentage of eac bootcamp's students who are recommenders
merge_data["Percentage of Recommended"] = round(merge_data["Number of Recommenders"]/merge_data["Number of Attendees"], 3) *100
merge_data.head()

,BootcampName,Number of Attendees,Number of Recommenders,Percentage of Recommended
0,General Assembly,90,70.0,77.8
1,Flatiron School,54,50.0,92.6
2,Dev Bootcamp,48,41.0,85.4
3,The Iron Yard,40,31.0,77.5
4,Prime Digital Academy,30,25.0,83.3

In [17]:
# Export to excel and remove index
merge_data.to_csv("output/magagi_output.csv", index=False, header=True)